<%- include ('./layouts/header') -%> <%- include ('./layouts/navbar') -%>
<div class="container mt-5">
	<div class="row">
		<div class="col-12 text-center">
			<h3 style="text-align: center; color: blue" class="display-3">
				Bienvenido
			</h3>
		</div>
	</div>
</div>
<%- include ('./layouts/footer') -%>
